//Font family
$fontFamily: 'Barlow Condensed';

//Colors
$turquoise: #248d8c;
$darkTurquoise: #1abc9c;
$darkBlue: #14274e;
$gloomyTurquoise: #008891;
$white: #e7e7de;
$purple: #800080;
$softPurple: #ad82ad;
