.footer {
  height: 100px;
  color: $darkTurquoise;
  padding-top: 60px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
