.main {
  min-height: 100vh;
}

//input area
.main__form {
  padding-bottom: 100px;
  text-align: center;
}

.form__input {
  border-style: none;
  padding: 0.6em;
  border: 0.2em solid $turquoise;
  outline: none;
  border-radius: 20px 0 0 20px;
  @media all and (min-width: 768px) {
    width: 180px;
    height: 50px;
  }
  @media all and (min-width: 1200px) {
    width: 260px;
    height: 60px;
    font-size: 18px;
  }
}

.form__btn {
  color: $white;
  width: 70px;
  outline: none;
  margin-left: -5px;
  padding: 0.6em;
  border: 0.2em solid $gloomyTurquoise;
  background: $gloomyTurquoise;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  @media all and (min-width: 768px) {
    width: 90px;
    height: 50px;
  }
  @media all and (min-width: 1200px) {
    width: 100px;
    height: 60px;
    font-size: 18px;
  }
  &:hover {
    background-color: #1abc9c;
    color: black;
  }
}
